.fa {
    content: url('../img/fa.webp');
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

.Q {
    content: url('../img/Q.webp');
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}